<form id="addProgramForm" class="form" method="post" action="/programs">
  <fieldset>
    <legend>Podstawowe informacje</legend>
    <ul class="form-fields">
      <li>
        <label for="addProgramFormName">Nazwa:</label>
        <input id="addProgramFormName" name="name" type="text">
    </ul>
  </fieldset>
</form>