<form id=loginForm class="form" method="post" action="/login">
  <fieldset>
    <ul class="form-fields">
      <li>
        <label for=loginFormLogin>Login:</label>
        <input id=loginFormLogin name="login" type="text" value="">
      <li>
        <label for=loginFormPassword>Hasło:</label>
        <input id=loginFormPassword name="password" type="password" value="">
    </ul>
  </fieldset>
</form>