<fieldset id="programDetailsFormats"><button
  id="programTextBtn" class="button active" data-for="programText">Tekst</button><button
  id="programCodeBtn" class="button" data-for="programCode">Kod</button><button
  id="programGraphBtn" class="button" data-for="programGraph">Wykres</button>
</fieldset>
<div id="programText"><%= text %></div>
<div id="programCode"><%= code %></div>
<canvas id="programGraph" width=500 height=200></canvas>
