<div id=leds>
  <div id=greenLed class="led">&nbsp;</div>
  <div id=orangeLed class="led">&nbsp;</div>
  <div id=redLed class="led">&nbsp;</div>
</div>
<div id=programs>
  <p>
    <span id="chosenProgram">Wybrany program</span>
    <span id="currentValues">
      Natężenie: <span id="currentPwmValue">0</span>%<br>
      Do końca: <span id="minsTillEndValue">0</span> min.
    </span>
  </p>
</div>
<canvas id=previewGraph width=400 height=100></canvas>
<canvas id=previewAnim width=400 height=100></canvas>