<ul class="details">
  <li>
    <span class="property">Imię i nazwisko:</span>
    <span class="value"><%= user.name %></span>
  <li>
    <span class="property">Adres e-mail:</span>
    <span class="value"><%= user.email %></span>
  <li>
    <span class="property">Rola:</span>
    <span class="value"><%= user.role %></span>
</ul>